* {
  transition: background-color 0.2s ease;
  --border-radius-default: 5px;
}

button {
  padding: 5px 10px;
  border-radius: var(--border-radius-default);
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

input,
select {
  padding: 5px 10px;
  border-radius: var(--border-radius-default);
}

input[type='checkbox'] {
  width: 15px;
  height: 15px;
}

input[type='number']::-webkit-inner-spin-button {
  appearance: none;
}

td {
  padding: 6px 10px;
}
th {
  text-align: left;
  padding: 8px 10px;
}

.problems-page .filters input[type='number'] {
  width: 130px;
}
.problems-page .filters input[type='number']:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 1px;
}
.problems-page .filters input[type='number']:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.problems-page .tag-badge {
  font-size: 0.92rem;
  border-radius: 5px;
  padding: 2px 4px;
}

.multiselect .context-menu {
  border-radius: 10px;
}
.multiselect .context-menu .option {
  padding: 5px 10px;
}
.multiselect .badge {
  font-size: 0.92rem;
  line-height: 1.2rem;
  border-radius: 5px;
  padding: 2px 4px;
}
.multiselect .badge .close-button {
  padding-left: 3px;
  padding-right: 1px;
  margin-left: 4px;
  border-left-width: 1px;
  border-radius: 0px;
}
.multiselect .badges-container {
  padding-bottom: 4px;
  gap: 4px;
}
