/* Contests page */

.theme-dark .contests-page .header-section {
  background-color: #282b30;
  border: 1px solid #40444b;
}

.theme-dark .contests-page td,
.theme-dark .contests-page th {
  border: 1px solid #40444b;
  background-color: #26292b;
}

.theme-dark .contests-page thead {
  border-bottom: 2px solid #f1f1f1;
}

.theme-dark .contests-page textarea {
  background-color: #373b41;
}
.theme-dark .contests-page td input,
.theme-dark .contests-page td textarea {
  background-color: #26292b;
}
